<% if current_user %>
  <nav>
    <h3>Hi, <%= current_user.name %>!</h3>
    <%= link_to "Log Out", "/logout" %>
  </nav>
<% else %>
  <nav>
  <%= link_to "Log In", "/auth/spotify" %>
  <%= link_to "Top Pairings", "/top_twenty" %>
  </nav>

<% end %>
